.mixin.out
crash-reports
fonts
journeymap
local
logs
raidersWhitelist
saves
*.log
.curseclient
.ReAuth.cfg
.minecraftinstance.json
.options.txt
.usercache.json
.username.cache.json
minecraftinstance.json
usercache.json