# Configuration file

~CONFIG_VERSION: 0.1.0

world1544803905 {
    S:filterText=
}


world427470143 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=crate

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world756772303 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


